.subscribe-btn{
    background-color: rgb(204, 0, 0);
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
    vertical-align: top;
}

.subscribe-btn:hover{
   opacity: 0.8; 
}

.subscribe-btn:active{
    opacity: 0.5;
}

.join-btn{
     background-color: white;
     border-color: rgb(6, 95, 212);
     border-style: solid;
     border-width: 1px;
     color: rgb(6, 95, 212);
     padding: 12px 22px;
     border-radius: 3px;
     cursor: pointer;
     transition: background-color 0.15s, color 1s;
     vertical-align: top;
}

.join-btn:hover{
    background-color: rgb(11, 100, 208);
    color: white;
}

.join-btn:active{
    opacity: 0.7;
}

.tweet-btn{
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: 22px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    margin-left: 8px;
    transition: box-shadow 0.15s;
    vertical-align: top;
}

.tweet-btn:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
