*{
    margin: 0;
    padding: 0;
    padding-left: 6px;
    box-sizing: border-box;
}

p{
    font-family: 'Roboto', sans-serif;
}


.video-title{ 
    font-weight: bold;
    font-size: 18px;
    width: 290px;
    line-height: 24px;
    margin-bottom: 5px;
}

.video-stats{
    font-size: 14px;
    color: rgb(96, 96, 96); 
}

.video-author{
    font-size: 15px;
    color: rgb(96, 96, 96);
    margin-top: 10px;
}

.video-description{
    font-size: 15px;
    color: rgb(96, 96, 96);
    width: 290px;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 80px;
}

.apple-text{
    margin-bottom: 50px;
    font-size: 15px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding: 18px 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.shop-text{
    cursor: pointer;            
}

.shop-text:hover{
    text-decoration: underline;
}
